.price{
    margin:0;
    padding:0;
    border-top: $lightCyan 1px solid ;
    background: linear-gradient(270deg, #F8F8F8 16.84%, rgba(248, 248, 248, 0.0001) 100%);
}
.price__name {
    margin: 0;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -0.2px;
    text-align: left;
    padding-top:16px;
    padding-bottom:16px;
    color:#7E7E82;
    text-transform:uppercase;
    font-weight: 400;
    background-image:  linear-gradient(to right, #F8F8F8 0%, #FFFFFF 98.61%);
    padding-left:24px;
    margin-bottom: 24px;
    }

.price__head{
    display: none;
    @media (min-width:661px) {
        color:$darkGray;
        padding: 0 16px;
        margin: 0 24px;
        display: flex;
        padding-bottom: 16px;
}
@media (min-width:1101px){
    margin: 0 32px;
}
}


.price__container{
    @media (max-width:661px){
    overflow: hidden;
    margin:16px; 
    margin-right: 0; 
    margin-top:6px;  
    @media (min-width:661px) {
        margin:0;
    }
    &:after{
        content: "";
        position: absolute;
        background: linear-gradient(270deg, #F8F8F8 16.84%, rgba(248, 248, 248, 0.0001) 100%);
        width: 24px;
        height: 200px;
        right: 0;
        top: 0;
        z-index: 1;
        }
    }
}

.price__list{
@media (min-width:661px){
width: auto;
display: flex;
flex-direction: column;
margin: 0 24px;
background: $white;
border-radius: 6px;
margin-bottom: 24px;
}
@media (min-width:1101px) {
    margin: 0 32px;
    margin-bottom: 32px;
}
}

.price__item{
    background:$white;
    display: flex;
    flex-direction: column;
    border: 1px solid $lightGray;
    border-radius: 6px;
    box-sizing: border-box;
    height: 200px;
    width:260px;
    padding: 16px;
    font-weight: 500;
    text-decoration: none;
    color: $black;
    @media (min-width:661px)  {
        width: 100%;
        border: 0;
        padding: 16px 0;
        margin: 0 16px;
        width: 100%;
        height: 64px;
        flex-direction: row;
        border-bottom:$lightGray solid 1px;
        align-items: center;
        &:last-child{
            border: 0;
        }
    }
    @media (min-width:1101px){
    
    }
}



.swiper-slide .price__item {
    @media (max-width:661px) {
    min-width:260px;
    max-width:260px;
    min-height:200px;
    max-height:200px; 
    margin: 0;
    text-align: center;
    background: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box; 
    position: relative;  
    &:last-child{
    margin-right:16px;
    }
    @media (min-width:661px) {
       width: 100%;
    }
    }
}


.swiper-pagination{
    position: relative;
    margin-top:8px;
    --swiper-pagination-color: #B5B6BC;
    --swiper-pagination-bullet-inactive-color:#DDDDDD;
    @media (min-width:661px) {
        display: none;
    }
}

.service__prop{
margin:0;
padding: 0;
font-size: 14px;
line-height: 16px; 
color: $darkGray;
margin-bottom: 4px;
@media (min-width:661px) {
    display: none;
}
}

.service__content{
    margin:0;
    padding: 0;
    font-size: 14px;
line-height: 18px;
font-weight: 300;
margin-bottom: 16px;
@media (min-width:661px){
    margin: 0;
}
}

.service__item{
    margin:0;
    padding: 0;
}

.price__order{
    position: absolute;
    width: 119px;
    height: 32px;
    text-decoration: none;
    color: $white;
    font-size: 12px;
line-height: 24px;
text-align: left;
text-transform: uppercase;
letter-spacing: -0.15px;
font-weight: 700;
background-color: $fuchsia;
border-radius: 16px;
right: 16px;
bottom: 16px;
padding: 4px 0;
box-sizing: border-box;
padding-left: 12px;
display: flex;
align-items: center;
&::after {
    content: "";
    display: inline-block;
    width: 24px;
    height: 24px;
    background: url('../img/icons/dropdownwhite.svg') no-repeat center;
    margin-left: 8px;
@media (min-width:661px){
        left: 16px;
    }
@media (min-width:1101px){
       left: 24px;
    }
}
&:hover,&:focus {
    background-color: $fuchsia02;
    color: $fuchsia;
    transition: background-color 0.6s ease, color 0.6s ease;
}
}

.price__service, .service__name{
    @media (min-width:661px){
        min-width: 372px;
        }
    @media (min-width:1101px){
          min-width: 470px;
        }
    }
.price__cost, .service__cost {
        @media (min-width:661px){
            min-width: 96px;
        }
        @media (min-width:1101px){
            min-width: 153px;
        }
    }
.price__term, .service__term{
        @media (min-width:661px){
            min-width: 219px;  
            align-self: flex-end;
        }
        @media (min-width:1101px){
            min-width: 454px; 
        }
}

.price__description {
    font-family: 'TT Lakes Regular';
    font-weight: normal;
    font-style: normal;
    width: 100%;
    margin:0 16px;
    text-align: left;
    margin-bottom: 20px;
    font-weight:300;
    letter-spacing: 0.2px;
    @media (min-width:661px){
        margin-left: 24px;
        max-width: 421px;
    }
    @media (min-width:1101px){
        margin-left: 32px;
    }
}

.price__comercity{
    display: block;
    text-decoration: none;
    margin:0 16px;
    width: 192px;
    letter-spacing: -0.2px;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: $black;
    margin-bottom: 40px;
    @media (min-width:661px){
        margin-left: 24px;
        max-width: 421px;
        margin-bottom: 47px;
    }
    @media (min-width:1101px){
        margin-left: 32px;
    }
    &::after{
    content: "";
    display:inline-block;
    width: 6px;
    height: 11px;
    background: url('../img/icons/dropdown.svg') no-repeat center;
    margin-left: 8px;
    }
    &:hover,&:focus {
        color: $fuchsia;
        transition: color 0.6s ease;
    }
}
