/* common*/
.nav{
    display:flex;
    overflow: auto;     
    -ms-overflow-style: none;
    scrollbar-width: none;
}
.nav::-webkit-scrollbar {
    width: 0;
}

[class^="nav__button"] {
    background: 0;
    border: 0;
    padding:0;
    color: #7E7E82;
    padding: 8px 12px;
    white-space:nowrap;
    letter-spacing:-0.2px;
}

.nav__button-active {
    background: #FFFFFF;
    border: 2px solid #B8FFEC;
    border-radius: 6px;
    padding: 8px 16px;
}

/* L */
@media (min-width:1100px) {
.nav{
  flex-wrap: wrap;
  margin-right:32px;
}
[class^="nav__button"] {
    padding: 8px 16px;
    font-size: 16px;
    line-height: 24px;
}

}