/* common*/
.nav__list {
    margin: 0;
    padding: 0;
    display:flex;
    overflow: auto;     
    -ms-overflow-style: none;
    scrollbar-width: none;
}
.nav::-webkit-scrollbar {
    width: 0;
}

[class^="nav__item"] {
    background: 0;
    list-style: none;
    margin:0;
    padding:0;
    cursor: pointer;
}

.nav__link {
    display: block;
    text-decoration: none;
    color: #7E7E82;
    background: 0;
    list-style: none;
    border: 0;
    margin:0;
    padding:0;
    margin: 8px 16px;
    white-space:nowrap;
    letter-spacing:-0.2px;

}
.nav__item-active {
    background: #FFFFFF;
    border: 2px solid #B8FFEC;
    border-radius: 6px;
    padding:0;
    margin: 0;
}
.nav__link:hover, .nav__link:focus {
color: #FF3E79;
transition: color 0.6s ease;
}

/* L */
@media (min-width:1100px) {
.nav__list{
 max-width: 1063px;
  flex-wrap: wrap;
  margin-right:32px;
  row-gap: 8px;
}

.nav__link{
    font-size: 16px;
    line-height: 24px;
}
}