.menuFooter__buttons{
    display: flex;
    margin-bottom: 16px;
    }
    
.menuFooter__call, .menuFooter__chat, .menuFooter__profile {
        padding:0;
        background: 0;
        border: 0;
        background-color: $fuchsia;
        width: 40px;
        height: 40px;
        border-radius: 50%;
        flex-shrink: 0; 
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        &:hover,&:focus {
            background-color:$fuchsia05;
            transition:  background-color 0.6s ease; 
        }
    }
.menuFooter__chat{
        margin: 0 16px;
    }
.menuFooter__email{
        margin: 0;
        padding: 0;
        margin-bottom: 12px;
        text-decoration: none;
        color:$black;
        &:hover,&:focus {
            color: $fuchsia;
        transition: color 0.6s ease;
        }
    }
    
.menuFooter__phone {
        margin: 0;
        padding: 0; 
        text-decoration: none;
        color:$black;
        font-weight: bold;
        font-size: 24px;
        line-height: 32px;
        margin-bottom:40px;
        display: block;
        &:hover,&:focus {
            color: $fuchsia;
        transition: color 0.6s ease;
        }
    }
    
.menuFooter__languages {
    display: flex;
&:hover,&:focus {
    color: $fuchsia;
    transition: color 0.6s ease;
}
}
    
.menuFooter__language, .menuFooter__language-active{
    border: 0;
    background: 0;
    padding:0;
    padding-right: 7px;
    }
    
.menuFooter__language-active {
    color: $darkGray;
    }